
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'FileShare_App/css/login.css' %}">
</head>
<body>
  
    <div class="login-container">   
        <h2>Login</h2>
        <form method="POST">    
            {% if messages %}
                {% for message in messages %}
                    <div role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username"  placeholder="Enter your username" required>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password"  placeholder="Enter your password" required>
            </div>

            <button type="submit" class="login-btn">Login</button>
            
        </form>
    </div>

</body>
</html>

