<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'FileShare_App/css/main.css' %}">
</head>
<body>

<div class="container">
    <div class="upload-container">
        <div class="home-container" style="width: 500px;">
            <form class="upload-form">
                <div class="alert alert-success" style="height: 100px;">
                    <h1>File uploaded successfully!</h1>
                </div>

                <div class="button-group">
                    <a href="{% url 'home' %}" class="back-btn">Back</a>
                    <a href="{% url 'upload_file' %}" class="upload-btn">Upload Another</a>
                <div>
            </form>
        </div>
    </div>
</div>

    {% comment %} <div class="alert alert-success">
        File uploaded successfully!
    </div>
    <button onclick="window.location.href='{% url 'home' %}'" class="btn btn-primary">Back</button>
    <a href="{% url 'upload_file' %}" class="btn btn-secondary">Upload Another</a>
</div> {% endcomment %}
</body>
</html>
